@model panaderia.Models.proveedor

@{
    ViewBag.Title = "Eliminar Proveedor";
}

<h2>Eliminar</h2>

<h3></h3>
<div>
    <h4>Gestión de Proveedores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">Código Proveedor</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rut)
        </dd>


        <dt>
            <label class="control-label">Nombre Proveedor</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>






    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

    <div class="form-actions no-color">
        <input type="submit" value="Eliminar" class="btn btn-default" />
        <button type="button" class="btn btn-default">@Html.ActionLink("Volver al lista", "Index")</button>
        
    </div>
    }
</div>
