@model panaderia.Models.proveedor

@{
    ViewBag.Title = "Detalles Proveedor";
}

<h2>Detalles</h2>

<div>
    <h4>Gestión de Proveedores</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">Código Proveedor</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rut)
        </dd>

        <dt>
            <label class="control-label">Nombre Proveedor</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.rut }) |
    @Html.ActionLink("Volver", "Index")
</p>
