@model IEnumerable<panaderia.Models.produccion>

@{
    ViewBag.Title = "Reporte";
}
<br/>
<br/>
<br/>
<h2>Reporte por jornada</h2>
<br/>

<table class="table">
    <tr>
        <th>        
            <label class="col-md-4">Jornadas</label>   
        </th>
        <th>
            <label class="col-md-4">Producto</label>
        </th>
        <th>
            <label class="col-md-4">Cantidad</label>
        </th>
        <th>
            <label class="col-md-4">Valor</label>
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fecha_produccion)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.receta.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cantidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.valor)
        </td>

    </tr>
}

</table>
