@model panaderia.Models.rolusuario

@{
    ViewBag.Title = "Detalles";
}

<h2>Gestión Detalle Rol Usuario</h2>

<div>
    <h4></h4>
    <hr />


    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.rol)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.rol)
        </dd>

    </dl>
</div>
<p>

    <button type="button" class="btn">@Html.ActionLink("Editar", "Edit", new { id = Model.Id })  </button> |
    <button type="button" class="btn">@Html.ActionLink("Volver", "Index")</button>


</p>
