@model panaderia.Models.medida

@{
    ViewBag.Title = "Detalles";
}

<h2>Gestión de Medidas de Productos</h2>

<div>
    <h4>Detalles</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">Código Medida</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt>
            <label class="control-label">Nombre Medida</label>
        </dt>
        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

    </dl>
</div>


<p>
   <button class="btn btn-default">@Html.ActionLink("Editar", "Edit", new { id = Model.Id }) </button>
    <button class="btn btn-default">  @Html.ActionLink("Volver", "Index")</button>
</p>
