@model panaderia.Models.linea

@{
    ViewBag.Title = "Delete";
}

<h2>Eliminar</h2>

<h3></h3>
<div>
    <h4>Linea de Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">Codigo Linea</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>


        <dt>
            <label class="control-label">Nombre Linea</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>


    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Volver", "Index")
        </div>
    }
</div>
