@model panaderia.Models.linea

@{
    ViewBag.Title = "Detalles";
}

<h2>Detalles de Linea</h2>

<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            <label class="control-label">Codigo Linea</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            <label class="control-label">Nombre Linea</label>
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>



    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Volver", "Index")
</p>
